# -------------------------------------------------------------------
# PYTHON / GENERAL FILES
# -------------------------------------------------------------------

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyd
*.so

# Virtual environment files
# Ignore all virtual environment folders
venv/
.venv/
env/
.env/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
.egg-info/
wheels/
*.pyz
*.pyo

# Installer logs
pip-log.txt
pip-delete-this-file.txt
htmlcov/
.tox/
.coverage

# Miscellaneous
*.log
*.tmp
*.bak
*.swp
*~
.idea/ # Common JetBrains IDE (PyCharm, IntelliJ) folder
.vscode/ # Common VS Code folder

